[submodule "dpf"]
	path = modules/dpf
	url = https://github.com/DISTRHO/DPF.git
[submodule "rtneural"]
	path = modules/rtneural
	url = https://github.com/jatinchowdhury18/RTNeural.git
[submodule "modules/FFTConvolver"]
	path = modules/FFTConvolver
	url = https://github.com/falkTX/FFTConvolver.git
[submodule "modules/r8brain"]
	path = modules/r8brain
	url = https://github.com/avaneev/r8brain-free-src.git
[submodule "modules/dpf"]
	path = modules/dpf
	url = https://github.com/DISTRHO/DPF.git
[submodule "modules/rtneural"]
	path = modules/rtneural
	url = https://github.com/jatinchowdhury18/RTNeural.git
[submodule "modules/dr_libs"]
	path = modules/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "modules/dpf-widgets"]
	path = modules/dpf-widgets
	url = https://github.com/DISTRHO/DPF-Widgets.git
